# Mapbox configuration
VITE_MAPBOX_TOKEN=your_mapbox_token_here
# Secret

# Supabase configuration
VITE_SUPABASE_URL=your_supabase_url_here
# Plain Variable
VITE_SUPABASE_ANON_KEY=your_anon_key_here
# Secret
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
# Secret
SUPABASE_JWT_SECRET=your_jwt_secret_here
# Secret
VITE_DEV_ADMIN_PASSKEY_HASH=your_admin_passkey_hash_here
# Secret

# Cloudflare R2 Storage Configurations
# Plain Variable
VITE_R2_ENDPOINT=your_r2_endpoint_here
# Plain Variable
VITE_R2_BUCKET_NAME=your_bucket_name_here
# Plain Variable
VITE_R2_PUBLIC_URL=your_public_url_here
# Secret
VITE_R2_ACCESS_KEY_ID=your_access_key_id_here
# Secret
VITE_R2_SECRET_ACCESS_KEY=your_secret_access_key_here
